html,
body {
  background-color: #e3aee8;
  min-height: 100vh;
}

h2 {
  text-align: center;
  margin: 100px 0;
}

.coffee {
  width: 25%;
}

.coffee:hover {
  background-color: #f6def9;
  cursor: pointer;
}

.coffee-list {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  /* color: white; */
}
